[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2-binary = "*"
flask-bcrypt = "*"
pyjwt = "*"
flask-socketio = "*"
socketio-client = "*"
gunicorn = "==0.16.1"
eventlet = "*"
gevent-websocket = "*"

[requires]
python_version = "3.9"
