@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Yellowtail&display=swap');

:root {
  --main: #e88a46;
  --dark: #d36231;
  --mid: #faaa56;
  --brown: #76584b;
  --lightBrown: #b69a8b;
  --extraLight: #f9f0ea;
  --grey: #686868;
  --white: #ffffff;
  --heading: 'Yellowtail', cursive;
  --body: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

// LOGIN PAGE

.loginMain {
  width: 100vw;
  min-height: 100vh;
  background: rgb(211,98,49);
  background: linear-gradient(0deg, rgba(211,98,49,1) 30%, rgba(232,138,70,1) 71%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--body);

  img {
    width: 300px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 300px;
  }

  a {
    width: 100%;
  }

  input, button {
    width: 100%;
    height: 40px;
    margin: 10px 0 10px 0;
    border-radius: 4px;
    font-family: var(--body);
  }

  input {
    border: none;
    background: var(--extraLight);
    font-size: 15px;
    padding-left: 10px;
  }

  button {
    background: var(--extraLight);
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 500;
    border: none;
  }
}

// REGISTRATION PAGE

.regMain {
  width: 100vw;
  min-height: 100vh;
  background: rgb(211,98,49);
  background: linear-gradient(0deg, rgba(211,98,49,1) 30%, rgba(232,138,70,1) 71%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--body);

  h1 {
    text-transform: uppercase;
    font-size: 20px;
  }

  img {
    width: 300px;
    margin: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 300px;
    text-align: left;
  }

  a {
    width: 100%;
  }

  label {
    width: 100%;
    font-weight: 300;
  }

  input, button, textarea, select {
    width: 100%;
    height: 35px;
    margin: 10px 0 10px 0;
    border-radius: 4px;
    font-family: var(--body);
  }

  input, textarea, select {
    border: none;
    background: var(--extraLight);
    font-size: 16px;
  }

  textarea {
    height: 100px;
  }

  button {
    background: var(--extraLight);
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 500;
    border: none;
  }
}

// FOOTER/NAVBAR

footer {
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--white);

  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  img {
    width: 40px;
  }

  .smallLogo {
    width: 100px;
  }
}

// HEADER 

header {
  z-index: 9;
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: var(--extraLight);

  .spacerDiv, .settingsDiv {
    width: 75px;
  }

  .settingsDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  img {
    width: 25px;
  }

  h1 {
    font-family: var(--heading);
    font-size: 40px;
  }
}

// SWIPE PAGE

.swipeMain {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--extraLight);

  .cardContainer {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .card {
    position: relative;
    width: 300px;
    max-width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-color: white;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }

  .swipe {
    position: absolute;
  }

  .nameAge {
    width: 100%;
    height: 60px;
    background: var(--white);
    text-align: left;
    font-family: var(--body);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .smallButtonContainer, .largeButtonContainer {
    width: 80%;
    height: 80px;
    display: flex;
    flex-direction: row;
  }

  .smallButtonContainer {
    align-items: center;
    justify-content: space-between;
  }

  .largeButtonContainer {
    align-items: center;
    justify-content: center;
  }

  .smallButton {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px var(--lightBrown);

    img {
      width: 60%;
    }
  }
  
  .largeButton {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    box-shadow: 0 0 5px var(--lightBrown);
  
    img {
      width: 60%;
    }

    .dislike {
      width: 50%;
    }

    .like {
      padding-top: 5px;
    }
  }
}

// MATCHES

.matchesMain {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--extraLight);

  h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: var(--body);
    font-size: 12px;
    font-weight: 400;
  }

  .matchesContainer {
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    margin: 100px 0 80px 0;

    .userDetails {

      .buttonContainer {
        width: 130px;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        button {
          width: 60px;
          height: 25px;
          border-radius: 4px;
          font-family: var(--body);
          font-size: 10px;
          background: var(--mid);
          border: none;
        }

      }
    }
  }

  .userImage {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px var(--lightBrown);

    img {
      width: 100%;
    }
  }
}

// CHAT

.chatMain {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--extraLight);
  font-family: var(--body);

  header {
    justify-content: space-evenly;

    .backButton {
      width: 80px;
    }

    img {
      width: 30px;
    }
  }

  h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: var(--body);
    font-size: 12px;
    font-weight: 400;
  }

  .chatContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
  }

  .chatInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 90vw;
    height: 70vh;
    box-shadow: 0 0 5px var(--lightBrown);
  }

  .chatInput {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    input {
      width: 90%;
      height: 30px;
      box-shadow: 0 0 5px var(--lightBrown);
      border: none;
    }
  }

  button:focus {outline:0;}

  button {
    background: none;
    border: none;

    img {
      width: 25px;
    }
  }
}

// UPDATE USER PROFILE

.updateUserProfileMain {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--extraLight);
  font-family: var(--body);

  .userForm {
    width: 300px;
    margin: 100px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  a {
    width: 100%;
  }

  input, button, textarea {
    width: 100%;
    height: 40px;
    margin: 10px 0 10px 0;
    border-radius: 4px;
    font-family: var(--body);
    font-size: 15px;
    padding-left: 10px;
    box-shadow: 0 0 3px var(--lightBrown);
  }

  textarea {
    height: 100px;
  }

  label {
    width: 100%;
    text-align: left;
  }

  button {
    background: var(--extraLight);
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 500;
    border: none;
  }

  .interestsOuter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .interest {
    background: var(--mid);
    padding: 10px;
    border-radius: 4px;
    margin: 2px;
  }
}

// SETTINGS

.settingsMain {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--extraLight);
  font-family: var(--body);

  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
  }

  form {
    width: 300px;
    margin: 100px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input, button, textarea {
    width: 100%;
    height: 40px;
    margin: 10px 0 10px 0;
    border-radius: 4px;
    font-family: var(--body);
    font-size: 15px;
    padding-left: 10px;
    box-shadow: 0 0 3px var(--lightBrown);
  }

  textarea {
    height: 100px;
  }

  label {
    width: 100%;
    text-align: left;
  }

  button {
    background: var(--extraLight);
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: 500;
    border: none;
  }
}

// VIEW USER PROFILE

.userProfileMain {
  width: 100vw;
  min-height: 100vh;
  background: var(--extraLight);
  font-family: var(--body);

  h2, h3 {
    text-align: left;
  }

  .slide-container {
    z-index: 1;
    width: 100%;
    margin: 100px 0 0 0;
  }

  .userInfo {
    width: 90vw;
    margin: auto;
    margin-bottom: 80px;
    text-align: left;

    .bio {
      min-height: 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .interestsOuter {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  
    .interest {
      width: 100px;
      background: var(--mid);
      padding: 10px;
      border-radius: 4px;
      margin: 2px;
    }

    .socialsContainer {
      width: 90vw;
      padding-bottom: 15px;
      display: flex;
      flex-direction: row;
      text-align: left;
      align-items: flex-start;
      justify-content: space-between;
    }

    a {
      img {
        width: 40px;
      }
    }
  }

  
}




