@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Yellowtail&display=swap');

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swipe {
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.card {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}